---
const response = await fetch(`${Astro.url.origin}/api/character.json`);
const data = await response.json();

Astro.response.headers.set("Cache-Control", "public, max-age=2, s-maxage=10");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Is the fetch cached?</title>
	</head>
	<body>
		<h1>Astro</h1>
		<pre>{JSON.stringify(data, null, 2)}</pre>
	</body>
</html>
